In [6]:
import numpy as np
import pandas as pd

QUESTION 1

In [8]:
np.__version__

'1.16.2'

QUESTION 2

In [9]:
pd.__version__

'1.0.3'

In [24]:
df = pd.read_csv('car_data.csv')

In [25]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

QUESTION 3

In [28]:
BMW_frame = df.loc[df["Make"] == "BMW"]

In [52]:
Average_price = (BMW_frame['MSRP'].sum() / BMW_frame['MSRP'].count())

numpy.float64

In [38]:
#Average price of BMW cars
Average_price.round()

61547.0

In [40]:
#subset of cars after 2015
Cars_after_2015 = df.loc[df["Year"] >= 2015]

QUESTION 4

In [42]:
#no of missing values for ENGINE HP
Cars_after_2015["Engine HP"].isna().sum()

51

QUESTION 5

In [61]:
#average of "Engine HP" before filling missing values
mean_hp_before = Cars_after_2015["Engine HP"].mean()
round(mean_hp_before)

273

In [62]:
#average of "Engine HP" after filling missing values
mean_hp_after = Cars_after_2015["Engine HP"].fillna(mean_with_na).mean()
round(mean_hp_after)

273

In [ ]:
#AFTER ROUNDING IT UP THE AVERAGE DID NOT CHANGE

QUESTION 6

In [68]:
Rollsroyce_frame = df.loc[df["Make"] == "Rolls-Royce"].filter(["Engine HP", "Engine Cylinders", "highway MPG"]).drop_duplicates()

In [69]:
Rollsroyce_frame

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5279       563.0              12.0           20
7443       322.0              12.0           15
7553       453.0              12.0           19
11448      624.0              12.0           21

In [70]:
x = Rollsroyce_frame.to_numpy()

In [83]:
xT = np.transpose(x)
np.sum(xT)

3623.0

In [81]:
XTX = np.matmul(x,xT)

In [82]:
np.sum(XTX)

11671869.0